.leftSection
    width: 50%

.firstSection
    display: flex
    justify-content: space-between
    margin-top: 50px
    margin-bottom: 41px

.secondSection
    display: flex
    justify-content: space-between

.leftElement
    width: 198px

.rightElement
    display: flex
    flex-direction: column
    gap: 10px

.pink
    color: var(--accent1)

.orderIn
    width: 334px
    padding: 15px
    border: 2px solid var(--main_black)
    border-radius: 4px
    color: var(--main_black)
    font-family: Montserrat
    font-size: 14px
    font-weight: 400
    &::placeholder
        color: var(--accent1)

.orderBtn
    margin-right: 379px

.orderComment
    width: 334px
    border: 2px solid var(--main_black)
    border-radius: 4px
    padding: 15px
    font-family: Montserrat
    font-size: 14px
    font-weight: 400
    color: var(--main_black)
    &::placeholder
        color: var(--accent1)

.orderRadio
    appearance: none
    width: 12px
    height: 12px
    border: 2px solid var(--main_black)
    border-radius: 50%
    outline: none
    cursor: pointer
    background-color: #fff
    &:hover
        border-color: var(--accent1)
        background-color: var(--accent1)
    &:checked
        border-color: var(--accent1)
        background-color: var(--accent1)

.radioWrapper
    display: flex
    align-items: center
    gap: 10px

.orderLabel
    font-family: Montserrat
    font-size: 16px
    font-weight: 400

.customTitle
    svg path 
        fill: var(--accent1)
