.advantages
    display: flex
    gap: 30px
    width: 1389px
    height: 98px
    margin-top: 88px
    margin-bottom: 95px


.advantages_items
    display: flex
    align-items: center
    gap: 20px
  

.advantages_text
    font-family: Montserrat
    color: var(--main_black)

.advantages_bigText
    font-size: 25px
    font-weight: 600

.advantages_smallText
    font-size: 16px
    font-weight: 400
    margin-top: 8px
    
.advantages_icon
    width: 81px
    height: 98px