.empty_container
    width: 330px
    margin-top: 150px
    margin-left: 86px

.empty_text
    text-align: center
    font-family: Montserrat
    font-size: 18px
    font-weight: 400
    margin-top: 20px

.empty_title
    margin: 0 auto
    width: 150px
    font-family: Montserrat
    font-size: 28px
    font-weight: 700
    padding-bottom: 86px
   
    
.exit_svg
    text-align: right
    margin-right: 40px
    margin-top: 50px
    cursor: pointer


.empty_svg
    text-align: center